* {
  color: #666699;
  position: relative;
}

@font-face {
font-family: "Digital-7";
src: url("./pocket-calculator/fonts/digital-7.ttf");
}

@font-face {
font-family: "Webdings";
src: url("./pocket-calculator/fonts/webdings.ttf");
}

@font-face {
font-family: "Cornerstone";
src: url("./pocket-calculator/fonts/cornerstone.ttf");
}

a[href*="ucvts"] {
  font-style: italic;
  font: courier;
}

a[href*="calculator"] {
  font-style: bold;
  font: cornerstone;
}

body {
 text-align: center;
 font-weight: bold;
 font-size: 12pt
}

div.header1 {
  line-height: 0.5;
  font: times;
  font-family: monospace;
}

span.webdings1 {
  line-height: 0.5;
  font: webdings;
  font-style: oblique;
}

span.webdings2 {
  line-height: 0.5;
  font: webdings;
  font-style: oblique;
}

canvas {
  border-radius: 2;
  border-style: double;

}

button {
  font: cornerstone;
  height: 100px;
  width: 100px;
  text-align: center;
  align-items: center;
  border-radius: 12px;
  border-width: 2px;
  border-style: solid;
  box-shadow: 0 5px #888888;
  border-color: DimGray;
  background-color:
}

td > button.operation {
  height: 100px;
  width: 150px;
  background-color: #ff6e27 ;
  box-shadow: 0 5px #aa5a00;
}

td > button.nonzero {

}

td > button#zero {

}

button.operation:hover {
 background-color: Chocolate;
}

button.nonzero:hover {

}

.footer {
  text-align: center;
  color: DarkGray;
}
