* {

  position: relative;
}

@font-face {
font-family: "Digital-7";
src: url("./pocket-calculator/fonts/digital-7.ttf");
}

@font-face {
font-family: "Cornerstone";
src: url("./pocket-calculator/fonts/cornerstone.ttf");
}

a {
  color: Black;
}

a[href*="ucvts"] {
  font-style: italic;
  font: courier;
}

a[href*="calculator"] {
  font-style: bold;
  font: cornerstone;
}

body {
 text-align: center;
 font-weight: bold;
 font-size: 12pt;
 background: #CCCCFF;
}

div.header1 {
  line-height: 0.5;
  font: times;
  font-family: monospace;
}

table#calcDisplay {
  height: 200px;
  width: 400px;
}

table#calculator {
  margin-top: auto;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  background-color: DimGray;
  border-radius: 20px;
  border-bottom: 25px;
}

p.calcDisplay {
  font: digital-7;
  background-color: #C19A6B;
  color: Black;
  caret-color: Black;
}

td.left {
 margin-left: 50px;
 margin-right: 5px;
}

td.middle {
  margin-left: 5px;
  margin-right: 5px;
}

td.right {
  margin-left: 5px;
  margin-right: 50px
}

button {
  font: cornerstone;
  font-size: 36px;
  height: 100px;
  width: 100px;
  color: black;
  background-color: LightGray;
  text-align: center;
  align-items: center;
  border-width: 2px;
  border-style: solid;
  border-spacing: 25px;
  border-color: #343434;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 5px #888888;
}

td > button.operation {
  height: 100px;
  width: 150px;
  background-color: #ff6e27 ;
  box-shadow: 0 5px #aa5a00;
}

td > button#zero {
  width: 150%;
}

td > button#subtraction {
    vertical-align: text-top
}

button:focus {
  outline: 0;
}

button:hover {
  transition: color ease 0.5s;
}

button.operation:hover {
  background-color: Chocolate;
}

button.nonzero:hover {
  background-color: #939393;
}

button#zero:hover {
  background-color: #939393
}

.footer {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}
